body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #040836;
}

#header {
    text-align: center;
    width: 100%;
    color: azure;
}

#search {
    width: 100%;
    display: flex;
    align-items: center;
}

#search p {
    margin: 20px;
    font-size: 16pt;
}

#search button {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}

#search input {
    height: 20px;
    color: black !important;
}

#map {
    height: calc(100vh - 155px);
    width: 100%;
}